<div class="center jumbotron">
  <h1>Página do Administrador</h1>

  <%= link_to "Nova Matéria", new_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "Lista de Matérias", index_path, class: "btn btn-lg btn-primary" %>

</div>