<div class="center jumbotron">
  <h1>Estudar com Você</h1>

  <%= link_to "Admin", admin_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "Aluno", student_path, class: "btn btn-lg btn-primary" %>

</div>