<% @subjects.each do |s| %>
  <% if s.visible %>
	  <div class="center jumbotron">
	  <h2>
	  	<%= s.title %>
	  	<% if s.new %><font color="blue"> (Novo!) </font><% end %>
	  </h2>
	  <div><%= s.description %></div>
	  <br>
	  </div> 
  <% end %>
<% end %>